




#tipo{
    position: absolute;
    top: 83.5;
    left: 0;
    height: 8%;
    width: 100%;
    color: white;
}




#barralateral{
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: orange;
    padding: 10px;
    
}

#contenidoportafolio{
    
    position: fixed;
    top: 17.5%;
    left: 0%;
    height: 81%;
    width: 100%;
    background-color: black;
    padding: 10px;
    overflow: auto;
    color: white;
    
}

#contenidoizq{
    
    position: absolute;
    top: 17.5%;
    left:0;
    height: 81%;
    width: 100%;
    background-color: black;
    padding: 30px;
    color: white;
    overflow: auto;
    
}
#contenidocentral{
    position: initial;
    top: 70%;
    right: 50;
    height: 25%;
    width: 70%;
    background-color: black;
    color: white;
    
}



#contenidoderecha{
    
   position: absolute;
    top: 17.5%;
    right:100;
    height: 81%;
    width: 40%;
    background-color: black;
    padding: 30px;
    color: white;
    overflow: auto;
    
}



#contenido{
    position: absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: black;
    padding: 10px;
    overflow: auto;
    color: white;
}

#encabezadotabla{
    background-color: blue;
    color:white;
}

#tablaresumen tr:nth-child(odd){
    background-color: orange;
    color:black;
}

#tablaresumen tr:nth-child(even){
    background-color: white;
    color:black;
}

#piedepagina{
   position: fixed;
    bottom:0px;
    left: 0px;
    height: 4%;
    width: 100%;
    background-color: orange;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 16px;
     
}

#imgvehiculos{
    width: 100;
    transition: all 300ms;
    position: relative;
}

#imgvehiculos:hover{
      transform: scale(1.35);
}


.button {
      background-color:blue;
      border-color:red;
      color:white;
      }